{% extends 'account/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="avatar-another-user">
        <img src="{{ person.avatar.url }}">
    </div>

    <div class="standard">
        <h3>{{ person.first_name }} {{ person.last_name }}</h3>
    </div>

     <div class="followers-following-container">

        <div class="followers">

            <div class="followers-container">
                {% for follower in followers %}
                    <div class="follower">
                        <a href="/user-{{ follower.profile_id }}" class="follower-link">
                        <img src="{{ follower.avatar.url }}" class="follower-avatar">
                    <span class="follower-name">{{ follower.first_name }}</span></a>
                </div>
                {% endfor %}

                    <div class="follower-avatar-b">
                        <form action="/user-{{ person.profile_id }}/followers">
                        <button>Follower<h1>{{ followers_count }}</h1></button><br>
                    </form>
                </div>

            </div>

        </div>

        <div class="following">

            <div class="followers-container">

                <div class="follower-avatar-b">
                    <form action="/user-{{ person.profile_id }}/following">
                        <button>Follow<h1>{{ following_count }}</h1></button><br>
                    </form>
                </div>

                {% for follow in following %}
                    <div class="follower">
                        <a href="/user-{{ follow.profile_id }}" class="follower-link">
                        <img src="{{ follow.avatar.url }}" class="follower-avatar">
                    <span class="follower-name">{{ follow.first_name }}</span></a>
                </div>
              {% endfor %}
            </div>

        </div>

    </div>

    <div class="photo">
        <div class="photo1">

            {% for photo in temp_left %}
                <img src="/media/photo/temp-photo.jpg">
            {% endfor %}

            {% for photo in all_photo_left %}
            <a href="/user-{{ person.profile_id }}/photo/show-{{ photo.id }}"><img src="{{ photo.photo.url }}"></a>
            {% endfor %}

        </div>

        <div class="photo-button-another-user">

            <form action="/user-{{ person.profile_id }}/photo">
                <button>All media:<h1>{{ photo_count }}</h1></button>
            </form>


        </div>

        <div class="photo2">

            {% for photo in all_photo_right %}
                <a href="/user-{{ person.profile_id }}/photo/show-{{ photo.id }}"><img src="{{ photo.photo.url }}"></a>
            {% endfor %}

            {% for photo in temp_right %}
                <img src="/media/photo/temp-photo.jpg">
            {% endfor %}

        </div>

    </div>

        {% if follower %}

    <div class="unfollow-button">
        <form method="post">
            {% csrf_token %}
        <button type="submit" name="submit_button" value="unfollow">Отменить подписку</button>
        </form>
    </div>

        {% else %}

    <div class="follow-button">
        <form method="post">
            {% csrf_token %}
        <button type="submit" name="submit_button" value="follow">Подписаться</button>
        </form>
    </div>

        {% endif %}

    <div class="standard">
        <h3>Лента пользователя:</h3>
    </div>

    <div class="posts-all">

        {% for post in posts %}
            <p>{{ post.content }}</p>
            <h6>{{ post.date }}</h6>
        {% endfor %}

    </div>

{% endblock %}