{% extends 'account/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block menu2 %}

    <div class="menu2">
    <a href="/user-{{ person.profile_id }}/followers">ПОДПИСЧИКИ</a>
    <a href="/user-{{ person.profile_id }}/following">ПОДПИСКИ</a>
    </div>

{% endblock %}

{% block content %}

    <div class="avatar-another-user">
        <a href="/user-{{ person.profile_id }}"><img src="{{ person.avatar.url }}"></a>
    </div>

    <div class="standard">

        <h3><a href="/user-{{ person.profile_id }}">{{ person }}</a></h3>
        <p>Всего подписчиков: {{ followers_count }}</p>

    </div>

        {% for follower in followers %}
            <div class="follower-list-all">

                <a href="/user-{{ follower.profile_id }}">
                <img src="{{ follower.avatar.url }}">
                <span class="follower-name">{{ follower.first_name }} {{ follower.last_name }}</span></a>

                {% if user_id != follower.user %}

                    {% if follower.user in i_following %}

                        <div class="follower-list-all-unfollow-button">
                            <form method="post" >
                                {% csrf_token %}
                            <button type="submit" name="submit_button" value="unfollow">Отписаться</button>
                                <input type="hidden" name="user_id" value="{{ follower.profile_id }}">
                            </form>
                        </div>

                    {% else %}

                        <div class="follower-list-all-follow-button">
                            <form method="post">
                                {% csrf_token %}
                            <button type="submit" name="submit_button" value="follow">Подписаться</button>
                                <input type="hidden" name="user_id" value="{{ follower.profile_id }}">
                            </form>
                        </div>

                    {% endif %}
                {% endif %}
                <br>
            </div>

        {% endfor %}



{% endblock %}