{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'account/css/main.css' %}">

</head>

<body>

  <div class="menu">
      {% if request.user.is_authenticated %}
    <a href="{% url 'profile_page' %}">ПРОФИЛЬ</a>
    <a href="">СООБЩЕНИЯ</a>
    <a href="">НОВОСТИ</a>
    <a href="">СООБЩЕСТВА</a>
    <a href="">ПОИСК</a>
    <a id="user" href="{% url 'settings_page' %}"><span class="dot-yes"> ● </span>
        {% if user|length > 1  %}{{ user.upper }}{% else %}SUPER ADMIN{% endif %}</a>
      {% else %}
    <a href=""></a>
    <a id="user" href="{% url 'login_page' %}">ВОЙТИ</a>
      {% endif %}
  </div>

  <main>
      {% block menu2%}
      {% endblock %}
  </main>

  <main>
      {% block content %}
      {% endblock %}
  </main>


</body>
</html>